[submodule "backend-api"]
	path = backend-api
	url = https://github.com/SergioSantiag0/Happy-backend
[submodule "frontend-web"]
	path = frontend-web
	url = https://github.com/SergioSantiag0/Happy-frontend
[submodule "frontend-mobile"]
	path = frontend-mobile
	url = https://github.com/SergioSantiag0/Happy-mobile
